<a href="https://colab.research.google.com/github/MechSoft371/Project4/blob/main/dailyclass.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def day_month(i,n):
    if i in range(1,13):
        if i==2:

In [ ]:
def factors(n,m):
    x=list()
    y=list()
    for i in range(1,n):
        if n%i==0:
            x.append(i)
    for j in range(1,m):
        if m%j==0:
            x.append(i)
    for z in x and a in y:

    return x

In [ ]:
def gcd(m,n):
    g=min(m,n)
    while m%g!=0 or n%g!=0:
        g=g-1
    return g

In [ ]:
num=int(input("Enter num"))
den=int(input("Enter num"))
x=gcd(num,den)
while x!=1:
    num=num/x
    den=den/x
    x=gcd(num,den)
print(f"{num}/{den}")

Enter num 6
Enter num 63

2.0/21.0

In [ ]:
gcd(6,63)

3

In [ ]:
factors(20)

[1, 2]

In [ ]:
def mag(d,m,y):
    y=str(y)
    y=y[2:4]
    z=d*m
    if z==int(y):
        return "its a magic date"
    else:
        return ""

In [ ]:
mag(6,11,1960)

''

creating a class and adding the objects to the class

create a class named person
add name, age, height,nationality into the class

In [ ]:
class person():
    def __init__(self,name,age,height,nation):
        self.name=name
        self.height=height
        self.age=age
        self.nation=nation
    def pname(self):
        print(self.name)
    def p_age(self):
        print(self.age)
    def pheight(self):
        print(self.height)
    def pnation(self):
        print(self.nation)

In [ ]:
x=person("ravi",17,157,"indian")
y=person("hema",19,157,"USA")
x.p_age()

y.pname()
y.pnation()

17
hema

TypeError: person.pnation() missing 1 required positional argument: 'nation'

In [ ]:
class car():
    def __init__(self,brand,model,colour,fuel,mileage):
        self.brand=brand
        self.model=model
        self.colour=colour
        self.fuel=fuel
        self.mileage=mileage
    def c_brand(self):
        print(self.brand)
    def c_model(self):
        print(self.model)
    def c_colour(self):
        print(self.colour)
    def c_fuel(self):
        print(self.fuel)
    def c_mileage(self):
        print(self.mileage)
    def c_details(self):
        print(self.brand)
        print(self.model)
        print(self.colour)
        print(self.fuel)
        print(self.mileage)

In [ ]:
ben=car("benz","z-class","black",100,20)
ben.c_brand()

benz

In [ ]:
class books():
    def __init__(self,title,author,year,edition):
        self.title=title
        self.author=author
        self.year=year
        self.edition=edition
    def b_title(self):
        print(self.title)
    def b_author(self):
        print(self.author)
    def b_year(self):
        print(self.year)
    def b_edition(self):
        print(self.edition)
    def b_details(self):
        print(self.title)
        print(self.author)
        print(self.year)
        print(self.edition)

In [ ]:
novel=books("harry","james",2000,5)
novel.b_title()
novel.b_details()

harry
harry
james
2000
5

create a class named calculator
addition
aubtraction
multiplication
division

In [ ]:
class calculator():
    def __init__(self,num1,num2):
        self.num1=num1
        self.num2=num2
    def addition(self):
        print(self.num1+self.num2)
    def subtraction(self):
        print(self.num1-self.num2)
    def multiplication(self):
        print(self.num1*self.num2)
    def division(self):
        print(self.num1/self.num2)

In [ ]:
c=calculator(3,2)
c.addition()
c.subtraction()
c.multiplication()
c.division()

5
1
6
1.5

create a class named complex_calculators
add one interge as an object
create a following methods
to find the square root
to find factorials
to find absolute value
to find square of the value

In [ ]:
import math
class complex_calculators():
    def __init__(self,num):
        self.num=num
    def sqt(self):
        print(math.sqrt(self.num))
    def factorial(self):
        print(math.factorial(self.num))
    def absolute(self):
        print(math.fabs(self.num))
    def square(self):
        print(self.num**2)

In [ ]:
x=complex_calculators(5)
x.sqt()
x.factorial()
x.absolute()
x.square()

2.23606797749979
120
5.0
25

create a class named poin
calculate distance b/w two points

In [ ]:
class point():
    import math
    x1=int(input("Enter the x1:"))
    x2=int(input("Enter the x2:"))
    y1=int(input("Enter the y1:"))
    y2=int(input("Enter the y2:"))
    d=math.sqrt((x1-x2)**2+(y1-y2)**2)
    print(d)

Enter the x1: 4
Enter the x2: 5
Enter the y1: 6
Enter the y2: 7

1.4142135623730951

In [ ]:
class point1():
    def __init__(self,x1,y1,x2,y2):
        self.x1=x1
        self.y1=y1
        self.x2=x2
        self.y2=y2
    def dis(self):
        import math
        d=math.sqrt((self.x1-self.x2)**2+(self.y1-self.y2)**2)
        return d

In [ ]:
distance=point1(4,5,6,7)
distance.dis()

2.8284271247461903

In [ ]:
import math
class point2():
    def __init__(self,x,y):
        self.x=x
        self.y=y
    def distance(self,point2):
        d=math.sqrt((self.x-point2.x)**2+(self.y-point2.y)**2)
        print(d)
    def median(self,point2):
        m=((self.x+point2.x)/2,(self.y+point2.y)/2)
        print(m)
    def medians(self,point2,point):
        med_x=(self.x+point2.x+point.x)/3
        med_y=(self.y+point2.y+point.y)/3
        print(med_x,med_y)

In [ ]:
p1=point2(1,2)
p2=point2(3,4)
p3=point2(5,6)

p1.distance(p2)
p1.median(p2)
p1.medians(p2,p3)

2.8284271247461903
(2.0, 3.0)
3.0 4.0

In [ ]:
import math
class circle():
    def __init__(self,r):
        self.r=r
    def area(self):
        area_circle=math.pi*(self.r**2)
        print(area_circle)
    def perimeter(self):
        peri=2*(math.pi)*self.r
        print(peri)

In [ ]:
c1=circle(5)
c1.area()
c1.perimeter()

78.53981633974483
31.41592653589793

In [ ]:
import math
class cylinder():
    def __init__(self,r,h):
        self.r=r
        self.h=h
    def volume(self):
        v=math.pi*(self.r**2)*self.h
        print("volume of the cylinder:",v)
    def surface(self):
        s=2*(math.pi)*self.r*self.h
        print("surface area of the cylinder:",s)

In [ ]:
cy=cylinder(5,6)
cy.volume()
cy.surface()

volume of the cylinder: 471.23889803846896
surface area of the cylinder: 188.49555921538757

In [ ]:
class bb():
    def __init__(self, title,edition,author,sub):
        self.title=title
        self.edition=edition
        self.author=author
        self.sub=sub
    def b_title(self,bb1):
        print(self.title,bb1.title)
    def b_author(self,bb1,bb2):
        print(self.author,bb1.author,bb2.author)

In [ ]:
b1=bb("matrix",2,"james","sci-fi")
b2=bb("matrix-reload",3,"james & kane","sci-fi")
b3=bb("taxi2",3,"willison","crime")
b1.b_title(b2)
b1.b_author(b2,b3)

matrix matrix-reload
james james & kane willison

In [ ]:
y=list()
n=int(input("Enter the number:"))
while n!=" ":
    y.append(int(n))
    n=input("Enter the number:")
print(y)
y.sort()
print("after the sort:",y)
y.pop(0)
y.pop(0)
y=sorted(y,reverse=True)
print("after reverse sort",y)
y.pop(0)
y.pop(0)
print(y)

Enter the number: 3
Enter the number: 4
Enter the number: 5
Enter the number: 2
Enter the number: 23
Enter the number: 0
Enter the number: -1
Enter the number: -2
Enter the number: -34
Enter the number: 3
Enter the number: 6
Enter the number: 7
Enter the number: 8
Enter the number: 9
Enter the number: 23
Enter the number: 546
Enter the number: 445
Enter the number:

[3, 4, 5, 2, 23, 0, -1, -2, -34, 3, 6, 7, 8, 9, 23, 546, 445]
after the sort: [-34, -2, -1, 0, 2, 3, 3, 4, 5, 6, 7, 8, 9, 23, 23, 445, 546]
after reverse sort [546, 445, 23, 23, 9, 8, 7, 6, 5, 4, 3, 3, 2, 0, -1]
[23, 23, 9, 8, 7, 6, 5, 4, 3, 3, 2, 0, -1]

In [ ]:
def remove(s):
  for i in range(11):
    s.append(i)
    b=sorted(s)
  b.pop(0)
  b.pop(0)
  b=sorted(b,reverse=True)
  b.pop(0)
  b.pop(0)
  print(s)
  print(b)
s=[]
remove(s)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[8, 7, 6, 5, 4, 3, 2]

In [ ]:
class number():
    def __init__(self,num1,num2):
        self.num1=num1
        self.num2=num2
    def var1(self):
        print(self.num1)
        print(self.num2)

class name():
    def __init__(self,name1,name2):
        self.name1=name1
        self.name2=name2
    def pname(self):
        print(self.name1)
        print(self.name2)
    x=number(11,23)

In [ ]:
x=number(10,20)

In [ ]:
x.var1()

10
20

In [ ]:
y=name("rohit","virat")

In [ ]:
y.pname()

rohit
virat

In [ ]:
y.number()

AttributeError: 'name' object has no attribute 'number'

In [ ]:
class num():

In [ ]:
class existing():
    def __init__(self,num1,num2):
        self.num1=num1
        self.num2=num2
    def prod(self):
        mul=self.num1*self.num2
        print("product of two number is:",mul)

class newclass(existing):
    def div(self):
        ans=self.num1/self.num2
        print("quotent is:",ans)

In [ ]:
p1=existing(10,20)

In [ ]:
p1.prod()

product of two number is: 200

In [ ]:
p2=newclass(45,7)

create a class called length using object radious, base, height
create a method called measurement to print value of the objects
using single inheritance create  a new class called area
in the new class create method to compute

In [ ]:
import math
class length():
    def __init__(self, r, b,h):
        self.r=r
        self.b=b
        self.h=h
    def measurment(self):
        print(self.r)
        print(self.b)
        print(self.h)

class area(length):
    def areaofcircle(self):
        ac= math.pi*(self.r**2)
        print("area of the circle:",ac)
    def triangle(self):
        tr= (1/2)*self.b*self.h
        print("area of the triangle:",tr)
    def surafceareaofcylinder(self):
        sc= (2*math.pi*self.r**2)+(2*self.r*self*h)
        print("area of the circle:",sc)

In [ ]:
p1=length(4,5,6)

In [ ]:
p2=area(4,5,6)

In [ ]:
p2.areaofcircle()

area of the circle: 50.26548245743669

In [ ]:
p2.triangle()

area of the triangle: 15.0

In [ ]:
class employee():
    def __init__(self, name, salary, ser):
        self.name=name
        self.salary=salary
        self.ser=ser

class hike(employee):
    def newsalary(self):
        if self.salary<50:
            if ser<5:
                hike=(self.salary*0.10)
                print("Hike :",hike)
            elif self.ser >=5:
                hike=(self.salary*0.20)
                print("Hike :",hike)
        elif self.salary >=50:
                if self.ser<3:
                    hike=(self.salary*0.15)
                    print("Hike :",hike)
                elif self.ser>=3 and self.ser <5:
                    hike=(self.salary*0.25)
                    print("Hike :",hike)
                elif self.ser >=5:
                    hike=(self.salary*0.40)
                    print("Hike :",hike)

In [ ]:
p1=hike("suraj",60000,6)

In [ ]:
p1.newsalary()

Hike : 24000.0

In [ ]:
def arm(num):
    digit=str(num)
    n=len(digit)
    b=sum(int(digit)**n for digit in digit)
    print(b)
    return b==num

In [ ]:
arm(343)

118

False

In [ ]:
num=343
digit=list(map(int,str(num)))
print(digit)
n=len(digit)
b= sum(int(digit)**n for digit in digit)
print(b)

[3, 4, 3]
118

In [ ]:
def armstrong(n):
  # n = '9474'
  n = str(n)
  p = len(n)
  arm =[]
  for i in n:
    arm.append(int(i)**p)
    print(arm, f'value of i & n:{i},{n}', )
  #print(arm,sum(arm))
  if int(n) == sum(arm):
    return f'the entered number {n} is a Armstrong number.'
  else:
    return f'the entered number {n} is not a Armstrong number.'

In [ ]:
armstrong(153)

[1] value of i & n:1,153
[1, 125] value of i & n:5,153
[1, 125, 27] value of i & n:3,153

'the entered number 153 is a Armstrong number.'

In [ ]:
n='345'
for i in n:
    print("i & n{}{}".format(i,n))

i & n3345
i & n4345
i & n5345

In [ ]:
class radious():
    def __init__(self,rad):
        self.rad=rad
    def radi(self):
        print("radious value is",self.rad)
class base():
    def __init__(self,ba):
        self.ba=ba
    def bas(self):
        print("base of triangle is",self.ba)
class height():
    def __init__(self,he):
        self.he=he
    def hei(self):
        print("height of triangle is",self.he)

In [ ]:
r1=radious(10)
r1.radi()

radious value is 10

In [ ]:
h1=height(20)
h1.hei()

height of triangle is 20

In [ ]:
h2=base(30)
h2.bas()

base of triangle is 30

In [ ]:
import math
class measures(radious,base,height):
    def new(self):
        print(self.rad,self.ba,self.he)
    def areaofcircle(self):
        are=math.pi*(self.rad**2)
        print(self.rad,self.ba,self.he)
        print(are)
    def circum(self):
        c=2*math.pi*self.rad
        print("perimeter of a circle is",c)
    def at(self):
        tt=(1/2)*self.ba*self.he
        print("area of the triangle is",tt)

In [ ]:
h2=height(10)
h3=base(20)
h4=radious(30)
c1=measures(5)
c1.areaofcircle()
c1.circum()
c2=measures(5,6,8)
c2.new()
c2.at()

AttributeError: 'measures' object has no attribute 'ba'

In [ ]:
from math import pi
class measures():
    def __init__(self, r, b, h):
        self.r=r
        self.b=b
        self.h=h
    def ch(self):
        print(self.r,self.b,self.h)
class new1(measures):
    def __init__(self,volume):
        self.volume=volume
    def vol(self):
        print("measere of the volume")
class new2(new1):
    def sur(self):
        print("measure of surface")

In [ ]:
from math import sqrt
class rang():
    def __init__(self,starting,ending):
        self.starting=starting
        self.ending=ending


class new1(rang):
    def squa(self):
        for i in range(self.starting,self.ending):
            print(i**2)


class new2(rang):
    def sqr(self):
        for i in range(self.starting,self.ending):
            print(sqrt(i))

In [ ]:
c1=new1(1,10)
c1.squa()
c2=new2(1,10)
c2.sqr()

1
4
9
16
25
36
49
64
81
1.0
1.4142135623730951
1.7320508075688772
2.0
2.23606797749979
2.449489742783178
2.6457513110645907
2.8284271247461903
3.0

In [ ]:
import math
class radious():
    def __init__(self,r):
        self.r=r
    def rad(self):
        print("radious value is",self.r)
class base():
    def __init__(self,b):
        self.b=b
    def bas(self):
        print("base of triangle is",self.b)
class height():
    def __init__(self,h):
        self.h=h
    def hei(self):
        print("height of triangle is",self.h)

class measures(radious,base,height):
    def __init__(self,r,b,h):
        radious.__init__(self,r)
        base.__init__(self,b)
        height.__init__(self,h)
    def new(self):
        print(self.r,self.b,self.h)
    def areaofcircle(self):
        are=math.pi*(self.r**2)
        print(self.r,self.b,self.h)
        print(are)
    def circum(self):
        c=2*math.pi*self.r
        print("perimeter of a circle is",c)
    def at(self):
        tt=(1/2)*self.b*self.h
        print("area of the triangle is",tt)

In [ ]:
v1=measures(5,6,7)
v1.new()
v1.areaofcircle()
v1.circum()
v1.at()

5 6 7
5 6 7
78.53981633974483
perimeter of a circle is 31.41592653589793
area of the triangle is 21.0

In [ ]:
class a1():
    def __init__(self,a):
        self.a=a
    def n1(self):
        print("this is from class a")
class b1(a1):
    def __init__(self,b,a):
        self.b=b
        a1.__init__(self,a)
    def n2(self):
        print("this is from new class b", self.a,self.b)
class c(b1):
    def __init__(self,c,b,a):
        self.c=c
        b1.__init__(self,b,a)
    def n3(self):
        print("this is class from c", self.c, self.b, self.a)

In [ ]:
pp=c(10,2,4)
pp.n3()

this is class from c 10 2 4

In [ ]:
from math import pi
class meas():
    def __init__(self,r,b,h):
        self.r=r
        self.b=b
        self.h=h
    def pp(self):
        print("print the values", self.r,self.h,self.b)
class new1(meas):
    meas.__init__(self,r1,b,h)
    def __init__(self):
        self.meas(self,r1)
    def area(self):
        area=pi*(self.r1**2)
        print(area)
class new2(meas):
    def __init__(self,b,h):
        meas.__init__(self,b,h)

NameError: name 'self' is not defined

In [ ]:
c=meas(10,20,30)
c11=new1()
c11.area()

AttributeError: 'new1' object has no attribute 'meas'

In [ ]:
x=open("new.txt","r")

In [ ]:
x.read()

'this text file\nsample test file\nwith sample data\n'

In [1]:
#exceptions
a=10
b=0
print(a/b)

ZeroDivisionError: division by zero

In [4]:
#try-except statment
a=10
b=0
try:
  c=a/b
  print(c)
except ZeroDivisionError:
  print("can't perform any action ")

can't perform any action

In [8]:
b=5
for a in range(5,16):
  try:
    c=a/b
    print(c)
  except Exception:
      print(f"unable to execute the action for {b}")
  b=b-1

1.0
1.5
2.3333333333333335
4.0
9.0
unable to execute the action for 0
-11.0
-6.0
-4.333333333333333
-3.5
-3.0

In [17]:
#wap to handle index error
l1=[1,2,3,4,5]
for i in range(len(l1)-2,9):
  try:
    print(l1[i],": printing i value")
  except Exception:
    print("out of range")

4 : printing i value
5 : printing i value
out of range
out of range
out of range
out of range

In [16]:
l1=[1,2,3,4,5]
for i in range(len(l1)-2,9):
  print(l1[i])

4
5

IndexError: list index out of range

In [18]:
a=[10,9,8,7,6,5,4,3,2,1,99]
b=[5,6,7,8,9,0,1,2,3]

for i in range(len(a)):
  try:
    c=a[i]/b[i]
    print(c)
  except ZeroDivisionError:
    print("this exception caused by 0")
  except IndexError:
    print("This exception caused by index out of range")

2.0
1.5
1.1428571428571428
0.875
0.6666666666666666
this exception caused by 0
4.0
1.5
0.6666666666666666
This exception caused by index out of range
This exception caused by index out of range